@charset "utf-8";
@import url("Noteworthy_Light/stylesheet.css");
@import url("NoteWorthy_bold/stylesheet.css");

body { 
	padding:0px; 
	margin:0px; 
	background-color: #FFF32C; 
	background-image: url(../img/bg_contenido.png);
}

.full { 
	background-color: #edcc9d; 
	width: 1025px;
	margin: 0 auto; 
	height: 768px; 
	overflow: auto;
	outline: 1px dashed white;
}

#lpage {
  width: 727px; 
  height: 768px;
  margin: 0; 
  padding: 0;
}

#rpage {
  width: 266px; 
  height: 732px;
  margin: 0; 
  padding-top: 22px;
  padding-right: 16px;
  padding-left:  16px;
  padding-bottom: 14px;
}

#lpage {   
  float:left; 
}

#rpage {   
	float:right; 
}

.pagecover{
	max-width:100%;
  max-height:100%;
  margin-top: 0;
}

.cont {
	height: 693px;
	width: 100%;
}

.text {
	font-family: Noteworthy-Light;
	font-size: 15pt;
	font-style: normal;
	line-height: normal;
	color: #261d0c;
	font-weight: normal;
	text-align: left;
	clear: none;
	margin: 0;
	padding: 0;
}

.controls {
	width: 266px; 
	height: 39px;
}

.ant {

}

.menu {
	margin-left: 84px;
}

.sig {
	margin-left: 84px;
}

strong  {
	font-family: NoteWorthy-bold;
}