@font-face {
	font-family: 'Noteworthy-Light';
	src: url('Noteworthy-Light.eot');
	src: url('Noteworthy-Light.eot?#iefix') format('embedded-opentype'),
		url('Noteworthy-Light.woff') format('woff'),
		url('Noteworthy-Light.ttf') format('truetype'),
		url('Noteworthy-Light.svg') format('svg');
}
